# System & OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build and local server logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
